@model IEnumerable<CatalogItemViewModel>

@{
    ViewData["Title"] = "Catalog";
}

<link rel="stylesheet" href="~/css/catalog.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/sidebar.js"></script>

<h1 class="catalog-title text-center mt-3">Catalog Items</h1>

<div class="container-fluid mx-auto" style="width: 97%;">
    <div class="row">
        <div class="col-2 d-lg-block d-none" id="sidebarContent">
            <hr />
            <a href="@Url.Action("Index", "Catalog", new { pageSize = 6 })" class="btn btn-outline-secondary m-2" id="sidebarOpen">6</a>
            <a href="@Url.Action("Index", "Catalog", new { pageSize = 9 })" class="btn btn-outline-secondary m-2" id="sidebarOpen">9</a>
            <a href="@Url.Action("Index", "Catalog", new { pageSize = 12 })" class="btn btn-outline-secondary m-2" id="sidebarOpen">12</a>
@*             <a href="@Url.Action("Index", "Catalog", new { pageSize = 1 })" class="btn btn-outline-secondary m-2" id="sidebarOpen">1</a> *@
            <hr />
        </div>

        <div class="col">
            <button class="btn btn-outline-secondary d-lg-none m-2" id="sidebarOpen">Open Sidebar</button>
            <div class="row">
                <div class="col-12">
                    @await Html.PartialAsync("_CatalogItems", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sidebar">
    <button class="btn btn-light" id="sidebarClose">Close Sidebar</button>
    <div id="sidebarContentClone"></div>
</div>